<div class="main">

	<div>
		<h1 class="titulo">Buscador de Filmes e Séries</h1>
	</div>

	<div>
		<div class="seletor">
			<div>
				<span class="text" *ngIf="ehfilme==true">Você está buscando em filmes</span>
				<span class="text" *ngIf="ehfilme==false">Você está buscando em series</span>
			</div>
			<div>
				<button class="alternar" (click)="changeBusca()">Alternar</button>
			</div>
		</div>
		<div class="buscador">
			<input class="box" type="search" [(ngModel)]="nome" placeholder="Digite aqui em inglês o título do que deseja assistir...">
			<button class="buscar" (click)="newMessage()">Buscar</button>
		</div>
  	</div>

	<div class = "view">
		<app-resultado [ehfilme]="this.getBusca()"></app-resultado>
  	</div>

</div>