body{
	margin: 0 0 0 0;
	height: 100%;
	background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9be55430-39e9-4841-8d38-7b3f5acf4c97/f0573184-a833-415f-b531-ec64e66fe9f5/BR-pt-20201207-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}